 HTML(< <html>
  <head>
    <title>Exemple de templates avec Jinja</title>
    <meta charset="utf-8">
    <meta name="description" content=''Mon application avec Flask et Jinja.''>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <header>
      <nav>
        <a href="https://exemple1.com"> Lien 1 </a>
        <a href="https://exemple2.com"> Lien 2 </a>
        <a href="https://exemple3.com"> Lien 3 </a>
      </nav>
    </header>
    <div class="container">
        <h1>Exemple de templates avec Jinja et plus</h1>
        <p>Mon application avec Flask et Jinja.</p>
    </div>
  </body>
</html> >